* {
    padding : 0px;
    margin : 0px;
    border : border-box; 
}

body {
    height : 100vh;
    background-image: linear-gradient(pink,rgb(0, 255, 136),rgba(255, 0, 200, 0.404));
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height : 400px;
    width : 40%;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow:  30px 30px 30px black;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding : 10px 20px;
}
.container h1 {
    text-align: center;
}

#inputValue,
#result {
    height : 30px;
    width : 100%;
    font-size: 25px;
    border: 1px solid grey;
}
/* #inputValue:focus {
    height : 30px;
    width : 100%;
    font-size: 25px;
    border: 1px solid rgb(255, 136, 0);
} */

.select-unit {
    display: flex;
    justify-content: space-between; 
    padding: 0px 10px;   
} 

label {
    font-size: 20px;
    color: gray;
}

#type1,
#type2 {
    height : 30px;
    width : 100%;
    font-size: 25px;
    padding : 0px 15px;
}

#btn {
    height : 30px;
    font-size: 25px;
    background-color: rgb(255, 136, 0);
    border : none;
    border-radius: 10px;
    cursor: pointer;
}
#btn:active {
    background-color: rgba(0, 0, 255, 0.726);
    color : white;
}